@font-face
 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format ("woff2");
  font-display: swap;
  }
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format ("woff2");
    font-display: swap;
    }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.main-header {
 color: black;
 background-color: #ffffff;
}
.navigation-list {
 list-style-type: none;
}
.navigation-link {
 font-size: 20px;
 font-weight: 700;
 line-height: 24px;
 text-align: left;
 text-transform: capitalize;
 text-decoration: none;
 color: inherit;
 background-color: #ffffff;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.button {
 font-family: inherit;
 font-weight: 700;
 text-align: center;
 color: #ffffff;
 background-color: #756157;
 text-decoration: none;
 text-transform: uppercase;
 }

.button-navigation, .hausing-card-button, .button-form {
  font-size: 16px;
  line-height: 20px;
}
.button-choosing-hotel {
 font-size: 20px;
 line-height: 36px;
}
.button-letter {
 background-color:#82b3d3;
 font-size: 20px;
 line-height: 36px;
}
.selected-button {
 background-color:#82b3d3;
}
.selected-green-button {
 background-color:#7db54f
}

.hero {
 background-image: url("../images/main-background.jpg");
  /*background-size: 100% auto;*/
 color:#ffffff;
 background-color:  #0b502a;
 background-repeat: no-repeat;
}
.adventages-slogan-cedona, .service-slogan-cedona, .choosing-hotel-interest {
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 text-align: center;
 text-transform: uppercase;
}
.adventages-cedona, .service-slogan, .choosing-hotel-choice {
 font-size: 22px;
 line-height: 26px;
 text-align: center;
}
.adventages-list {
 list-style-type: none;
}
.adventages-item {
 background-color: #82b3d3;
 color:#ffffff
}
.adventages-item-road {
 background-color: rgba(131, 179, 211, 0.2);
 color: black;
}
.adventages-item-square
.adventages-item-tourist {
 background-color: rgba(131, 179, 211, 0.12);
 color: black;
}
.adventages-discription {
 font-size: 18px;
 font-weight: 400;
 line-height: 21px;
 text-align: center;
}
.adventages-title-color, .service-title-color {
 font-size: 24px;
 font-weight: 700;
 line-height: 28px;
 color: black;
 text-align: center;
 text-transform: uppercase;
}
.service-list, .list-style-type, .footer-social-item {
  list-style-type: none;
}
.service-name-housing, .service-name-souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}
.footer-letter {
  background-image: url("../images/footer/background-footer.jpg");
  color:#ffffff;
  background-color: #82b3d3;
  background-repeat: no-repeat;
}
.footer-letter-catalog {
  color: black;
}
.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color:black;
  text-decoration: none;
}
.inner-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  /*background-size: 100% auto;*/
  color:#ffffff;
  background-color: #3c3e3f;
  background-repeat: no-repeat;
}
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.catalog-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  list-style-type: none;
}
.hausing-card, .breadcrumbs-item, .pagination {
  list-style-type: none;
}
.hausing-card-type {
  font-size: 16px;
  line-height: 20px;
}
.hausing-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color:black;
  text-decoration: none;
}
